<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EnAble India-Moderator</title>
	<link rel="icon" type="image/png" href="/static/moderator/images/favicon.ico" >
    <!-- Bootstrap Core CSS -->
    <link href="/static/moderator/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/moderator/css/sb-admin.css" rel="stylesheet">

    <!--Datatable CSS -->
    <link href="/static/moderator/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/static/moderator/css/dataTables.bootstrap.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/moderator/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">EnAble India Moderator</a>
				
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ session['username'] }} <b class="caret"></b></a>
                    <ul class="dropdown-menu" style="min-width:180px;">
                                              
                        <li>
                            <a href="/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="ModeratorLanding"><i class="fa fa-fw fa-desktop"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="MentorApprovalLanding"><i class="fa fa-fw fa-edit"></i> Mentor Requests</a>
                    </li>
                    <li>
                        <a href="MatchingRequestsLanding"><i class="fa fa-fw fa-edit"></i> Matching Requests</a>
                    </li>
                    
                     <li>
                        <a href="ProgressLanding"><i class="fa fa-fw fa-bar-chart-o"></i> Program Progress</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

               <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <br/>
							<small>Statistics Overview</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-desktop"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                
                <!-- /.row -->
		<div class="row">
                 <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-user-plus fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{data[0]}}</div>
                                        <div>New Mentor Requests</div>
                                    </div>
                                </div>
                            </div>
                            <a href="MentorApprovalLanding">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
		</div>
		<div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-users fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">{{data[1]}}</div>
                                        <div>Matching Requests</div>
                                    </div>
                                </div>
                            </div>
                            <a href="MatchingRequestsLanding">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
		  </div>
		  </div>
		  
		<div class="col-lg-6">
		<div class="col-lg-12 ">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-book fa-fw"></i> Statistics</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    
                                    <a href="#" class="list-group-item">
                                        <span class="badge">{{data[2]}}</span>
                                        <i class="fa fa-fw fa-user"></i> No of Mentors
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">{{data[3]}}</span>
                                        <i class="fa fa-fw fa-graduation-cap"></i> No of Mentees
                                    </a>
                                    
                                    <a href="#" class="list-group-item">
                                        <span class="badge">{{data[4]}}</span>
                                        <i class="fa fa-fw fa-users"></i> Mentee : Mentor ratio (avg)
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                <!-- /.row -->

               <!-- <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            
                        </div>
                    </div>
                </div>
                <!-- /.row 
		<div class="row">
                    <div class="col-lg-4">
                       
                    </div>
                <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-calendar fa-fw"></i> Tasks Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    
                                    <a href="#" class="list-group-item">
                                        <span class="badge">1 hour ago</span>
                                        <i class="fa fa-fw fa-user"></i> A new user has been added
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">2 hours ago</span>
                                        <i class="fa fa-fw fa-check"></i> Completed task: "pick up dry cleaning"
                                    </a>
                                    
                                    <a href="#" class="list-group-item">
                                        <span class="badge">two days ago</span>
                                        <i class="fa fa-fw fa-check"></i> Completed task: "fix error on sales page"
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </div> -->
                    
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/static/moderator/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/moderator/js/bootstrap.min.js"></script>

<script src="/static/moderator/js/jquery.dataTables.min.js"></script>
<script src="/static/moderator/js/dataTables.bootstrap.js"></script>

	<script>
$(document).ready(function () {

	$('#deletesubmit').click(function () 
	{
	       if ($("[name='cancel']:checked").length > 0) 
			if(confirm("Deleting the selected Request(s)\n Are you sure?")==true)
				return true;
		    else
				return false;
		else
			{
			alert("Please Select the Mentor Request(s) to be deleted");
				return false;
			} 

	});

	$('#approvesubmit').click(function () 
	{
	if ($("[name='approve']:checked").length > 0) 
		return true;
	else
		{
		alert("Please Select the Mentor Request(s) to be approved");
			return false;
		} 

	});


	
	$('#selectall-cmodr').click(function(event) 
	{  //on click 
	if(this.checked) 
		{ // check select status
		    $('.cancel').each(function() { //loop through each checkbox
			this.checked = true;  //select all checkboxes with class "checkbox1"               
		    });
		}
	else
		{
		    $('.cancel').each(function() { //loop through each checkbox
			this.checked = false; //deselect all checkboxes with class "checkbox1"                       
		    });         
		}
	});

	$('#selectall-amodr').click(function(event) 
	{  //on click 
	if(this.checked) 
		{ // check select status
		    $('.approve').each(function() { //loop through each checkbox
			this.checked = true;  //select all checkboxes with class "checkbox1"               
		    });
		}
	else
		{
		    $('.approve').each(function() { //loop through each checkbox
			this.checked = false; //deselect all checkboxes with class "checkbox1"                       
		    });         
		}
	});

	
	    
	$('#mentorTab').dataTable(
	{
	"aoColumns": [null,null,{ "bSortable": false },{ "bSortable": false }]
	});
});
	</script>
</body>

</html>
