{% extends "/application/index.html" %}

<title>FORUM</title>
{% block head %}
	{{ super() }}
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/forum.css') }}">
	
	<!-- Datatables CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables_themeroller.css') }}">
	
{% endblock %}

{% block body %}
		
		{{ super() }}
		
		<div id="page-wrapper">
			<br/>
			<div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">	
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-edit"></i> <a href="/forum">Forum</a>
                            </li>	
							{% if topicstatus == "true" %}
								{% if creator == "true" %}
									<a style="float:right" href="/closetopic">Close Topic</a>
								{% endif %}
							{% endif %}
                        </ol>						
                    </div>
                </div>
                <!-- /.row -->
		
               <form method = 'POST'>
				<div id="mentorList" > 
				<table id = "forumcontent" class="table table-hover table-bordered ">
				<thead>
				<tr>
					<th>Topic Description</th>
					<th>User Name</th>
					<th>Create Time</th>
				</tr>
				</thead>      
	
				<tbody> 
				{% for name in data %}
				<tr>
					<td><a href = /forumselect?name={{ name[0] }}>{{ name[4] }}</a> </td>
					<td><a href = /forumselect?name={{ name[0] }}>{{ name[3] }}</a> </td>
					<td><a href = /forumselect?name={{ name[0] }}>{{ name[5] }}</a> </td>
				</tr>
				{% endfor %}
				</tbody>
				</table>          
				</div>
				</form>
				
				{% if topicstatus == "true" %}
				
				<form action="/insertResponse" method="get">
					<div class="responseForm">Response
					<br />
					<br />
					<table>
					<tr>
						<td></td>
					</tr>
					<tr>
						<td>
						<textarea name="forumQuestionTextArea" id="forumQuestionTextArea"></textarea>
						<br />
						</td>
					</tr>
					</table>
					</div>
					
					<div style="margin-top:10px" class="form-group">
						<div class="col-sm-12 controls">
							<input type="submit" value="Submit" id="btn-fblogin" class="btn btn-primary">
                        </div>
					</div>
				</form>
				
				{% endif %}
				
				{% if topicstatus == "false" %}
					<div id="postdisabled">This topic is closed by the author</div>
				{% endif %}
 
            </div>
		</div>
		
		<script src="/static/moderator/js/jquery.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="/static/moderator/js/bootstrap.min.js"></script>
		<script src="/static/moderator/js/jquery.dataTables.min.js"></script>
		<script src="/static/moderator/js/dataTables.bootstrap.js"></script>
		<script>
		$('#forumcontent').dataTable();	
		</script>
		
{% endblock %}

